In [0]:
import pyspark

In [0]:
df = sqlContext.sql("SELECT * FROM firsttable");

In [0]:
df.show();

+-----+-----+
| name|sales|
+-----+-----+
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+